@model HomeIndexViewModel

@{
    ViewBag.Title = "Staff List";
}

<div class="card-deck">
    @foreach (var staff in Model.Staffs)
    {
        <div class="card m-3">
            <div class="card-header">
                <h3>@staff.FirstName @staff.LastName</h3>
            </div>
            <img class="card-img-top" src="~/images/user.png" />
            <div class="card-footer text-center">
                <a asp-controller="home" asp-action="details" asp-route-Id="@staff.Id" class="btn btn-primary">View</a>
                <a href="#" class="btn btn-primary">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </div>

        </div>
    }
</div>

