@model StaffManagement.ViewModels.HomeIndexViewModel

    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Department</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var staff in Model.Staffs)
                {
                    <tr>
                        <td>@staff.Id</td>
                        <td>@staff.FirstName @staff.LastName</td>
                        <td>@staff.Department</td>
                    </tr>
                }
            </tbody>
            
        </table>
    </body>
    </html>
